public/country.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CountryService" targetNamespace="urn:countryService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:countryService" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema targetNamespace="urn:countryService">
      <!-- Define the array of strings type -->
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- Message Definitions -->
  <message name="updateCountryRequest">
    <part name="id" type="xsd:int"/>
    <part name="callback_url" type="xsd:string"/>
    <part name="name" type="tns:ArrayOfString"/>
    <part name="description" type="tns:ArrayOfString"/>
  </message>

  <message name="updateCountryResponse">
    <part name="country" type="tns:ArrayOfString"/>
  </message>

  <!-- Port Type -->
  <portType name="CountryPortType">
    <operation name="updateCountry">
      <input message="tns:updateCountryRequest"/>
      <output message="tns:updateCountryResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="CountryBinding" type="tns:CountryPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updateCountry">
      <soap:operation soapAction="urn:countryService#updateCountry"/>
      <input>
        <soap:body use="encoded" namespace="urn:countryService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:countryService"/>
      </output>
    </operation>
  </binding>

  <!-- Service Definition -->
  <service name="CountryService">
    <port name="CountryPort" binding="tns:CountryBinding">
      <soap:address location="http://127.0.0.1:8000/soap/countries"/>
    </port>
  </service>
</definitions>
